h1,h2,h3,h4 { margin-top: 0px; line-height: 1.3em; }
h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
#header { position:absolute; top: 0px; left:0px; height: 50px; overflow:hidden; width: 100%; }
#content { position:absolute; top: 50px; bottom: 0px; left: 0px; overflow:auto; width: 100%; }
/* no footer... yet */
#footer { position:absolute; bottom: 0px; height: 0px; left: 0px; overflow:hidden; width: 100%; }

.content, .container { height: 100%; }
#ng-view { position: relative; height: 100%; }
.container { padding-top: 20px; }

.navbar .nav>li>a.brand {
  padding-left:20px;
  margin-left:0
}

footer {
  position:fixed;
  left:0;
  bottom:0;
  height:30px;
  width:100%;
  background:#ddd;
  -webkit-box-shadow:0 8px 6px 6px black;
  -moz-box-shadow:0 8px 6px 6px black;
  box-shadow:0 8px 6px 6px black
}

footer p {
  padding:5px 0 12px 10px
}
