<div id="gmaps"></div>
<div id="overlay-wrapper" style="display:none">
  <div id='overlay-content'>
    <div id="round-info">
      <h3>Where does {{question}} come from?</h3>
      <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        </div>
      </div>
    </div>
    <div id="points-and-multiply">
      <div>
        <span class="caption">points</span> <span class="label label-info">{{points}}</span>
        &nbsp;
        <span class="caption">multiplier</span> <span class="label label-{{multiplierEffect[multiplier]}}">{{multiplier}}</span>
        <a class='btn btn-primary btn-xs' onclick="Connect.skipQuestion()">Skip this question</a>
      </div>
    </div>
    <div id="status" style="display:none">
      <div ng-repeat="msg in roundMessages" class='alert alert-{{msg.type}}'><span ng-bind-html='msg.text | unsafe'></div>
    </div>
  </div>
</div>

<div id="select-popup" class="white-popup-block mfp-hide">
  <div id="list" class="list-group">
    <div class="btn list-group-item" ng-repeat="question in questions | orderBy:orderProp">
      <span>{{question.question}}</span>
      <input type="hidden" value="{{question.answer}}" />
    </div>
  </div>
</div>

<div id="start-popup" data-ng-init="getGroups()" class="white-popup-block">
  <div class="preloader" style="display:none">
    <img src="/public/gamemodes/assets/images/loader.gif" />
    <br /><br />
    Starting the game...
  </div>
  <div class="popup-content" ng-show="groupsLoaded && groups.length">
    <h1>Connect a country and a thing</h1>
    <p>In this game, your goal is simply to connect a country and a thing.</p>
    <p>You get points from every correct answer. Each round gives a default of
    10 points, but you can multiply that by answering correctly many times in
    a row.
    The multiplier is reset if you are too slow, answer incorrectly or skip a question. Good luck!</p>
    <h2>Select a question group</h2>
    <div id="question-group-list" class="btn-group-vertical">
      <div class="btn btn-default" data-group='{{g.id}}' ng-click="selectGroup(this.g.id)" ng-repeat="g in groups |orderBy:orderProp:reverse">{{g.name}}</div>
    </div>
  </div>
  <div ng-show="!groupsLoaded">
    <p style="text-align:center;">Loading question groups...</p>
  </div>
  <div ng-show="groupsLoaded && !groups.length">
    <h1>No questiongroups yet</h1>
    <p>Make one now <a ng-href="#!/questions">here</a></p>
  </div>
</div>

<div id="color-popup" class="white-popup-block mfp-hide">
  <h2 class="message"></h2>
  <div id="color-select">
  </div>
  <div id="selected-color" data-default-text="no color selected">
  </div>
  <div id="actions">
    <a class="btn btn-primary accept-btn">OK</a>
  </div>
</div>

<div id="savescore-popup" class="white-popup-block mfp-hide">
  <h1>You scored {{points}} points!</h1>
  <h2>Get your initials to the hall-of-fame:</h2>
  <form class="form-horizontal">
    <input type="hidden" value="{{points}}" readonly/>
    <input type="hidden"  value="1" ng-model="score.gameid"/>
      <div class="TLA-wrapper">
        <input id="TLA" type="text" placeholder="AAA" maxlength="3" ng-model="score.player" required />
      </div>
  </form>
  <br />
  <div ng-show="!voted">
    <p>Did you like this question group? Vote:</p>
    <button class="btn btn-primary" ng-click="like(true)">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button class="btn btn-primary" ng-click="like(false)">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
  </div>
  <div ng-show="voted">
    <p>Thank you for voting!</p>
  </div>
  <div ng-show="!voted && showErr">
    <br />
    <div class="alert alert-warning">Please give your initials</div>
  </div>
</div>
