<div id="gmaps"></div>
<div id="overlay-wrapper" style="display:none">
  <div id='overlay-content'>
    <div id="round-info" style="display:none">
      <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        </div>
      </div>
    </div>
    <div id="flag-menu">
      <div id="round-starter">
        <p>Select the region you want to Flag</p>
        <div id="region-select">
          <a href="javascript:void(0)" onclick="Flagger.regionSelect(this)" class="btn btn-default" data-src="150">Europe</a>
          <a href="javascript:void(0)" onclick="Flagger.regionSelect(this)" class="btn btn-default" data-src="002">Africa</a>
          <a href="javascript:void(0)" onclick="Flagger.regionSelect(this)" class="btn btn-default" data-src="142">Asia</a>
          <a href="javascript:void(0)" onclick="Flagger.regionSelect(this)" class="btn btn-default" data-src="009">Oceania</a>
          <a href="javascript:void(0)" onclick="Flagger.regionSelect(this)" class="btn btn-default" data-src="019">Americas</a>
        </div>
      </div>
      <div id="memorize-info" style="display: none">
        <p class="info-text" data-swap="Now try to place the flags to correct countries.">
        Try to remember the country of all the flags visible now. The game starts when the bar above is full!
        </p>
        <a href="javascript:void(0)" onclick="Flagger.startGuessing()" id="skip-memorizing" class="btn btn-primary btn-xs pull-right">Start already</a>
      </div>
      <ul>
        <li ng-repeat="flag in flags">
          <a data-cc="{{flag.countryCode}}" href="javascript:void(0)" onclick="Flagger.setSelectedFlag(this)"><img ng-src="/public/gamemodes/assets/images/flags/{{flag.countryCode}}.png" /></a>
        </li>
      </ul>
    </div>
    <div id="points-and-multiply">
      <div>
        <span class="caption">points</span> <span class="label label-info">{{points}}</span>
        &nbsp;
        <span class="caption">multiplier</span> <span class="label label-{{multiplierEffect[multiplier]}}">{{multiplier}}</span>
        <a class='btn btn-primary btn-xs' onclick="Flagger.giveHint()">Give a hint</a>
      </div>
    </div>
    <div id="status" style="display:none">
      <div ng-repeat="msg in roundMessages" class='alert alert-{{msg.type}}'><span ng-bind-html='msg.text | unsafe'></div>
    </div>
  </div>
</div>

<div id="select-popup" class="white-popup-block mfp-hide">
  <div id="list" class="list-group">
    <div class="btn list-group-item" ng-repeat="question in questions | orderBy:orderProp">
      <span>{{question.name}}</span>
      <input type="hidden" value="{{question.country}}" />
    </div>
  </div>
</div>

<div id="start-popup" class="white-popup-block">
  <div class="preloader" style="display:none">
    <img src="/public/gamemodes/assets/images/loader.gif" />
    <br /><br />
    Starting the game...
  </div>
  <div class="popup-content">
    <h1>Flagger</h1>
    <p>In this game, your goal is to connect a country to its flag.</p>
    <p>After you select a region, you have a while to remember
    the flags on the map. Have fun!</p>
    <a class="btn btn-primary" onclick="Flagger.startGame()" style="width:100%; text-align: center;">Start the game</a>
  </div>
</div>

<div id="color-popup" class="white-popup-block mfp-hide">
  <h2 class="message"></h2>
  <div id="color-select">
  </div>
  <div id="selected-color" data-default-text="no color selected">
  </div>
  <div id="actions">
    <a class="btn btn-primary accept-btn">OK</a>
  </div>
</div>

<div id="savescore-popup" class="white-popup-block mfp-hide">
  <h1>You scored {{points}} points!</h1>
  <h2>Get your initials to the hall-of-fame:</h2>
  <form class="form-horizontal">
    <input type="hidden" value="{{points}}" ng-model="score.points" readonly/>
    <input type="hidden"  value="2" ng-model="score.gameid"/>
      <div class="TLA-wrapper">
        <input id="TLA" type="text" placeholder="AAA" maxlength="3" ng-model="score.player" required />
      </div>
  </form>
  <br />
  <div>
    <input type="button" class="btn btn-primary" ng-click="submitScore()" value="OK" />
  </div>
</div>
