<section data-ng-controller="ScoreboardController">


<div class="row game-modes-wrapper">
  <div class="jumbotron">
    <h1>Welcome to the HALL OF FAME</h1>
    <p>
      Choose below the game.
    </p>

  </div>
  <div class="col-md-6 link-wrapper">
    <a data-ng-href="#!/scoreboard/{{connectID}}" class="game_mode_link">
      <div class="header_over_img"><span>Connect</span></div>
      <img class="img-thumbnail" src="public/system/assets/img/connect_pic.png" />
    </a>
  </div>
  <div class="col-md-6 link-wrapper">
    <a data-ng-href="#!/scoreboard/{{flaggerID}}" class="game_mode_link right">
      <img class="img-thumbnail" src="public/system/assets/img/connect_pic.png" />
      <div class="header_over_img"><span>Flagger</span></div>
    </a>
  </div>
</div>

</section>