<section data-ng-controller="ScoreboardController" data-ng-init="findScores()">
	<div class="centered">
		<div class="btn-group btn-group-justified">
		  <div class="btn-group">
		    <a class="btn btn-success" data-ng-href="#!/scoreboard/{{connectID}}">Connect</a>
		  </div>
		  <div class="btn-group">
		    <a class="btn btn-info" data-ng-href="#!/scoreboard/{{flaggerID}}">Flagger</a>
		  </div>
		</div>
		<hr />
		<div data-ng-show="scores.length" class="jumbotron">
			<h1 class="text-center">{{tableTitle}}<br><small>{{gameName}}</small></h1>
		</div>
	<!--VAIN CONNECT -->
		<div class="btn-group" data-ng-show="gameid == 1">
			<button class="btn btn-primary" ng-click="resetGroup()">All</button>
			<button ng-repeat="group in groups" class="btn btn-primary" ng-click="switchGroup()">{{group.name}}</button>
		</div> 
	<!-- END VAIN CONNECT -->
	  	<table data-ng-show="scores.length" class="table table-striped table-hover">
	  		<thead>
	  			<tr>
	  				<th>#</th><th>Player</th><th>Points</th><th>Group</th>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<tr ng-repeat="score in scores |filter:filterByGroup() | limitTo:quantityOfScores">
	  				<th>{{$index+1}}</th>
	  				<th>{{score.player}}</th>
	  				<th>{{score.points}}</th>
	  				<th data-ng-show="gameid == 1">{{nameOfGroup(score.groupid)}}</th>
	  				<th data-ng-show="gameid == 2"><!-- TÄHÄN TASON HAKU --><th>
	  			</tr>
	  		</tbody>
	  	</table>
	  <div class="no-score" data-ng-show="!scores.length">
	    <span>No scores yet. What a excellent chance to get your name into the HALL OF FAME</span>
	    <br/>
	    <hr/>
	    <a class="btn btn-primary" data-ng-href="/#!/game/{{gameName.toLowerCase()}}">PLAY NOW</a>
	  </div>
	</div>
</section>