/* pick_countries moodi */
#color-popup #color-select {
  float: left; width: 50px;
}
#color-popup #selected-color {
  float: left;
}
#color-popup #actions {
  float: right;
}
.TLA-wrapper {
  text-align: center;
}
input#TLA {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  width: 100px;
}
