#flag-menu {
  margin-top: 10px;
  padding: 7px 10px; background-color: #eee;
  border: 1px solid #999;
  overflow: hidden;
}
#flag-menu ul { margin: 0px; padding: 0px; list-style-type: none; }
#flag-menu li {
  float: left;
  display: none;
  margin: 4px 4px 4px 4px;
}
#gmaps .overlay:hover { opacity: 0.2; }
.overlay-copy { position: fixed; z-index: 9999999; }
