#flag-menu {
  margin-top: 10px;
  padding: 7px 10px; background-color: #eee;
  border: 1px solid #999;
  overflow: hidden;
}
#flag-menu ul { margin: 0px; padding: 0px; list-style-type: none; }
#flag-menu li {
  float: left;
  display: none;
  margin: 1px;
}
#flag-menu li a {
  display: block;
  border: #eee solid 3px;
}
#flag-menu li a.selected {
  border-color: #008000;
}
#gmaps .overlay:hover { opacity: 0.2; }
.overlay-copy { position: fixed; z-index: 9999999; }

#round-starter #region-select a {
  display: block; width: 100%; margin-top: 5px;
}
